@model IEnumerable<Corevo.eContracts365.TableEntities.ProjectEntity>

@{
    ViewBag.Title = "Project";
    Layout = "~/Views/Shared/_Layout_Settings.cshtml";
}
<style>
    .text-ellipsis{
        max-width: 100px;
        overflow: hidden;
        text-overflow:ellipsis;
       white-space: nowrap;
    }
</style>
<table class="width95_a">
    <tr>
        <td class="pageheading">
            Project Listing
            <img src="~/Content/Images/help_training.png" alt="Manage New and Existing Projects" title="Manage list of your Company's Projects (only for Project based Contracts)." />
        </td>
        <td class="pageheading" align="right">           
            <input id="btnImport" type="submit" onclick="redirect();" value="Import From Excel" class="f_button_green_small" />
            <input id="btnAddNewProject" type="submit" value="Add New" class="f_button_green_small" />        
        </td>
    </tr>
    <tr>
        <td colspan="2" style="padding-top:5px;">
            <div id="page-wrap">
                <table class="paginated" style="width:100%; table-layout:fixed;" id="customertable">
                    <thead>
                        <tr>
                            <th>
                                Project Name
                            </th>
                            <th>
                                Project ID
                            </th>
                            <th>
                                Description
                            </th>
                            <th>
                                Project Manager(s)
                            </th>
                            <th>
                                Business Manager(s)
                            </th>
                            <th>
                                Contract Manager(s)
                            </th>
                            <th>
                                Related Contract Number(s)
                            </th>
                            <th>
                                USAID Contract Number(s)
                            </th>
                            <th>
                                Status
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model == null || Model.Count() == 0)
                        {
                            <tr>There is no Project found.</tr>
                        }
                        else
                        {                          
                            foreach (var item in Model)
                            {
                                <tr id="row" style="border-bottom:1px dotted #eeeaea;">
                                    <td id="Projectrowkey" style="display:none;">@Html.DisplayFor(modelItem => item.RowKey)</td>
                                    <td id="Project" style="display:none;">@Html.DisplayFor(modelItem => item.ProjectName)</td>

                                    <td class="" style="vertical-align:top; width:10%;">
                                        <a href="~/Settings/ProjectTasks?projectname=@Html.DisplayFor(modelItem => item.ProjectName)&rkey=@Html.DisplayFor(modelItem => item.RowKey)">@Html.DisplayFor(modelItem => item.ProjectName)</a>
                                        <img src="../Content/Images/context_Menu.png" class="openmenu margintop-2px" alt="Open Menu" title="Open Menu" /><br />
                                        @*<span title="Project Manager"> @item.ProjectManager &nbsp;</span>|&nbsp;<span title="Business Manager"> @item.BusinessManager</span>&nbsp;|&nbsp;<span title="Related Contract Number"> @item.RelatedContractNumber</span>*@
                                    </td>
                                    <td class="" style="vertical-align:top;">
                                        @Html.DisplayFor(modelItem => item.ProjectID)
                                    </td>
                                    <td class="" style="vertical-align:top;">
                                        <div title="@item.Description" class="text-ellipsis">
                                            @Html.DisplayFor(modelItem => item.Description)
                                        </div>
                                    </td>
                                    <td class="" style="vertical-align:top;">
                                        @Html.DisplayFor(modelItem => item.ProjectManager)
                                    </td>
                                    <td class="" style="vertical-align:top;">
                                        @Html.DisplayFor(modelItem => item.BusinessManager)
                                    </td>
                                    <td class="" style="vertical-align:top;">
                                        @Html.DisplayFor(modelItem => item.ContractManager)
                                    </td>
                                    <td class="" style="vertical-align:top;word-wrap: break-word;">
                                        @Html.DisplayFor(modelItem => item.RelatedContractNumber)
                                    </td>
                                    <td class="" style="vertical-align: top; word-wrap: break-word; ">
                                        @Html.DisplayFor(modelItem => item.USAIDContractNumber)
                                    </td>
                                    <td class="" style="vertical-align:top;">
                                        @Html.DisplayFor(modelItem => item.Status)
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>

                </table>
            </div>
                @if (Model == null || Model.Count() == 0){}
                else
                {  <div class="pagination-holder clearfix margin-left-m20">
                        <article id="compact-pagination"></article>
                   </div>
                }           
            </td>
            </tr>
        </table>

<!-- Context Menu -->
<ul id="projectMenu" class="contextMenu">
    <li class="edit"><a href="#edit">Edit</a></li>
    <li class="viewdetails"><a href="#manage">Manage Task</a></li>
    <li class="delete"><a href="#delete">Delete</a></li>
</ul>
<div id="AddEditProject" style="display:none;">
    <div id="dvPopupHeading" class="modalheader"><span></span></div>
    <div class="modalbody">
        <div id="addNewEntityFields">
            <table cellpadding="2" cellspacing="2" class="width100">
                <tr>
                    <td class="labelright width40"></td>
                    <td class="labelright width60"><input id="txtProjectRowKey" name="ProjectRowKey" type="hidden" /></td>
                </tr>
                <tr>
                    <td class="labelright width40">Project ID<small class="required">&nbsp;*</small></td>
                    <td class="labelright width60"><input id="txtProjectID" maxlength="100" name="ProjectID" type="text" class="f_inpt width98 validelement" /></td>
                </tr>
                <tr>
                    <td class="labelright width40">Project Name<small class="required">&nbsp;*</small></td>
                    <td class="labelright width60"><input id="txtProjectName" name="ProjectName" type="text" maxlength="100" onchange="ReplaceSpecialCharacters(this);" class="f_inpt width98 validelement" /></td>
                </tr>
                <tr>
                    <td class="labelright width40">Description</td>
                    <td class="labelright width60"><textarea id="txtDescription" name="Description" rows="2" cols="20" style="height: 80px;" maxlength="300" class="f_inpt width98"></textarea></td>
                </tr>
                <tr>
                    <td class="labelright width40">
                        Status
                    </td>
                    <td class="labelright">
                        <select id="ddlStatus" class="f_inpt width98" title="Status">
                            <option value="Active">Active</option>
                            <option value="Inactive">Inactive</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="labelright width40">Start Date</td>
                    <td class="labelright width60"><input id="dtStartDate" name="StartDate" type="text" class="f_inpt width40 form-contro-Date validdate" /></td>
                </tr>
                <tr>
                    <td class="labelright width40">End Date</td>
                    <td class="labelright width60"><input id="dtEndDate" name="StartDate" type="text" class="f_inpt width40 form-contro-Date validdate" /></td>
                </tr>
                <tr>
                    <td class="labelright width40">Sub Account</td>
                    <td class="labelright width60"><input id="txtSubAccount" name="SubAccount" type="text" class="f_inpt width98" /></td>
                </tr>
                <tr>
                    <td class="labelright width40">Project Manager</td>
                    <td class="labelright width60">
                        <select class="f_inpt chosenmulti" title="Select User(s)" id="ddlProjectManager" multiple data-placeholder='Select User(s)'></select>
                    </td>
                </tr>
                <tr>
                    <td class="labelright width40">Business Manager</td>
                    <td class="labelright width60">
                        <select class="f_inpt chosenmulti" title="Select User(s)" id="ddlBusinessManager" multiple data-placeholder='Select User(s)'></select>
                    </td>
                </tr>
                <tr>
                    <td class="labelright width40">Contract Manager</td>
                    <td class="labelright width60">
                        <select class="f_inpt chosenmulti" title="Select User(s)" id="ddlContractManager" multiple data-placeholder='Select User(s)'></select>
                    </td>
                </tr>
                <tr>
                    <td class="labelright width40">USAID Contract Number</td>
                    <td class="labelright width60"><input id="txtUSAIDContractNumber" name="USAIDContractNumber" type="text" class="f_inpt width98" /></td>
                </tr>
                <tr>
                    <td class="labelright width40">Customer ID</td>
                    <td class="labelright width60"><input id="txtCustomerID" name="CustomerID" type="text" class="f_inpt width98" /></td>
                </tr>
                <tr>
                    <td class="labelright width40">
                        Country
                    </td>
                    <td class="labelright">
                        <select id="ddlCountry" class="f_inpt width98" title="Country">
                            <option value="0">--Select--</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="labelright width40">Division</td>
                    <td class="labelright width60"><input id="txtDivision" name="Division" type="text" class="f_inpt width98" /></td>
                </tr>
                <tr>
                    <td class="labelright width40">Practice Area</td>
                    <td class="labelright width60"><input id="txtPracticeArea" name="PracticeArea" type="text" class="f_inpt width98" /></td>
                </tr>                
            </table>
        </div>
    </div>
</div>

@section Scripts {
<script src="/Scripts/chosen.jquery.js" type="text/javascript"></script>
<script src="/Scripts/prism.js"></script>
<link rel="stylesheet" href="/Content/css/screen.css" media="screen">
<link rel="stylesheet" href="/Content/css/jquery_002.css">
<link href="~/Content/css/wizard.css" rel="stylesheet" type="text/css">
<script src="~/Scripts/chosen.jquery.js" type="text/javascript"></script>
    @Scripts.Render("~/Scripts/Contract365/Settings_Project.js?" + DateTime.Now.GetHashCode())
}