@model IEnumerable<Corevo.eContracts365.TableEntities.RequestFieldsEntity>
@using Corevo.eContracts365.RequestManager
@{
    ViewBag.Title = "RequestTypesMetadata";
    Layout = "~/Views/Shared/_Layout_Settings.cshtml";
}
<link href="~/Content/jquery.contextMenu.css" rel="stylesheet" type="text/css" />
<link href="~/Content/confirm.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="~/Scripts/jquery.tablednd.0.7.min.js"></script>
<script type="text/javascript">
    function getParameterByName(name) {
        name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
        var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
            results = regex.exec(location.search);
        return results == null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
    }
    $(document).ready(function () {
        $(".requestTypeTitle").text(getParameterByName('requesttypetitle'));
        $("#requestTypeID").text(getParameterByName('requesttypeid'));

    });

</script>
<span id="requestTypeID" style="display:none;"></span>
<table class="width100">
    <tr>
        <td class="pageheading"><h4 style="font-weight: 500;"><span class="requestTypeTitle"></span></h4></td>

        <td class="pageheading width40" align="right">

            <input id="btnSaveFieldOrder" type="button" value="Save Order" class="f_button_green_small" />
            <input id="btnNewGroup" type="button" value="Create New Group" class="f_button_green_small" />
            <input id="btnNewField" type="button" value="Create New Field" class="f_button_green_small" />
        </td>
    </tr>
</table>
<br />
<div class="width95_a">
    <div style="float:left; width:63%;">
        <p style="background-color:#59a1d5; color:#ffffff"><span class="requestTypeTitle"></span> Field Groups and Selected Fields</p>
        <table id="tblMetadata" class="width100">
            @{int counter1 = 1;
            int count1 = ViewBag.GroupOrderCount;
            foreach (string name in ViewBag.GroupNames)
            {
                <tr id="GP_@counter1.ToString()">
                    <td id="@name">
                        @Html.Action("RequestFieldsinGroupMetadata", "Settings", new { fieldGroup = @name, index = @counter1, count = @count1 })
                    </td>
                </tr>
                counter1++;
            }
            }
        </table>

    </div>
    <div class="available_fields">
        <div style="margin-bottom: 10px; cursor:pointer; clear:both; border-bottom: 1px solid #b1b1b1; overflow: hidden;" onclick="systemfields()">
            <span style="font-weight: 500;font-size: 16px;color: #6b6b6b;float: left;margin-bottom: 10px;">System Fields</span>
            <img src="../Content/Images/i-admin.png" style="float: left; margin-top:5px;margin-left: 5px;" title="These fields can be added to the contract type and the field display name can be edited." />
            <img src="../Content/Images/e-close.png" title="Collapse" id="imgsystemfields" style="float: right; margin-top:5px;">
        </div>
        <table class="yui-grid width100" style="margin-bottom: 10px;" id="systemfields">
            @foreach (var item in Model)
            {
                //system fields
                if (item.FieldName == "Project" || item.FieldName == "Description" || item.FieldName == "AssignedTo"
                        || item.FieldName == "Requestor" || item.FieldName == "RequiredByDate" || item.FieldName == "Approvers"
                        || item.FieldName == "RequestCollaborators" || item.FieldName == "Status" || item.FieldName == "RelatedContracts" || item.FieldName == "Counterparty")
                {
                    do
                    {
                        item.FieldName = item.FieldName.Replace("&amp;", "&");
                    } while (item.FieldName.IndexOf("&amp;") > -1);
                    do
                    {
                        item.FieldDisplayName = item.FieldDisplayName.Replace("&amp;", "&");
                    } while (item.FieldDisplayName.IndexOf("&amp;") > -1);
                    <tr id="row" style="border-bottom: 1px dotted #eeeaea; background-color: #D9D9D9; ">
                        <td id="RequestFieldId" style="display:none;">@Html.DisplayFor(modelItem => item.RowKey)</td>
                        <td id="FieldName" style="display:none;">@Html.DisplayFor(modelItem => item.FieldName)</td>
                        <td id="FieldDisplayName" style="display:none;">@Html.DisplayFor(modelItem => item.FieldDisplayName)</td>
                        <td>
                            <span style="padding: 5px 5px 5px 5px;display: block;"> @Html.DisplayFor(modelItem => item.FieldDisplayName)</span>
                        </td>
                        <td id="FieldTypeGroup" style="display:none;">System</td>
                        <td class="openmenuavail" style="float:right;margin-right: 5px;">
                            <img src="../Content/Images/context_Menu.png" alt="Open Menu" title="Open Menu" />
                        </td>
                    </tr>
                }
            }

        </table>

        <div style="margin-bottom: 10px; cursor:pointer; clear:both; border-bottom: 1px solid #b1b1b1; overflow: hidden;" onclick="standardfields()">
            <span style="font-weight: 500;font-size: 16px;color: #6b6b6b;float: left;margin-bottom: 10px;">Standard Fields</span>
            <img src="../Content/Images/i-admin.png" style="float: left; margin-top:5px;margin-left: 5px;" title="These fields can be added to the contract type and the field display name and field type can be edited." />
            <img src="../Content/Images/e-close.png" id="imgstandardfields" title="Collapse" style="float: right; margin-top:5px;">
        </div>
        <table class="yui-grid width100" style="margin-bottom: 10px;" id="standardfields">
            @foreach (var item in Model)
            {
                if (
                    //Standard Fields
                         item.FieldName == "ContractType" || item.FieldName == "OriginatingParty" || item.FieldName == "StartDate" || item.FieldName == "Renewable"
                        || item.FieldName == "RenewalDate" || item.FieldName == "EndDate" || item.FieldName == "ContractValue" || item.FieldName == "ContractTermType" || item.FieldName == "CompanyProfile"
                        )
                {
                    do
                    {
                        item.FieldName = item.FieldName.Replace("&amp;", "&");
                    } while (item.FieldName.IndexOf("&amp;") > -1);
                    do
                    {
                        item.FieldDisplayName = item.FieldDisplayName.Replace("&amp;", "&");
                    } while (item.FieldDisplayName.IndexOf("&amp;") > -1);
                    <tr id="row" style="border-bottom: 1px dotted #eeeaea; background-color: #D9D9D9; ">
                        <td id="RequestFieldId" style="display:none;">@Html.DisplayFor(modelItem => item.RowKey)</td>
                        <td id="FieldDisplayName" style="display:none;">@Html.DisplayFor(modelItem => item.FieldDisplayName)</td>
                        <td id="FieldName" style="display:none;">@Html.DisplayFor(modelItem => item.FieldName)</td>
                        <td>
                            <span style="padding: 5px 5px 5px 5px;display: block;"> @Html.DisplayFor(modelItem => item.FieldDisplayName)</span>
                        </td>
                        <td id="FieldTypeGroup" style="display:none;">Standard</td>
                        <td class="openmenuavail" style="float:right;margin-right: 5px;">
                            <img src="../Content/Images/context_Menu.png" alt="Open Menu" title="Open Menu" />
                        </td>
                    </tr>
                }
            }

        </table>



        <div style="margin-bottom: 10px; cursor:pointer; clear:both; border-bottom: 1px solid #b1b1b1; overflow: hidden;" onclick="customfields()">
            <span style="font-weight: 500;font-size: 16px;color: #6b6b6b;float: left;margin-bottom: 10px;">Custom Fields</span>
            <img src="../Content/Images/i-admin.png" style="float: left; margin-top:5px;margin-left: 5px;" title="These fields can be created, edited and deleted." />
            <img src="../Content/Images/e-close.png" title="Collapse" id="imgcustomfields" style="float: right; margin-top:5px;">
        </div>
        <table class="yui-grid width100" style="margin-bottom: 10px;" id="customfields">
            @foreach (var item in Model)
            {
                if (item.FieldName == "Project" || item.FieldName == "Description" || item.FieldName == "AssignedTo"
                        || item.FieldName == "Requestor" || item.FieldName == "RequiredByDate" || item.FieldName == "Approvers"
                        || item.FieldName == "RequestCollaborators" || item.FieldName == "Status" || item.FieldName == "RelatedContracts" || item.FieldName == "Counterparty"

                        || item.FieldName == "ContractType" || item.FieldName == "OriginatingParty" || item.FieldName == "StartDate" || item.FieldName == "Renewable"
                        || item.FieldName == "RenewalDate" || item.FieldName == "EndDate" || item.FieldName == "ContractValue" || item.FieldName == "ContractTermType" || item.FieldName == "CompanyProfile"
                    )
                {

                }
                else
                {
                    do
                    {
                        item.FieldName = item.FieldName.Replace("&amp;", "&");
                    } while (item.FieldName.IndexOf("&amp;") > -1);
                    do
                    {
                        item.FieldDisplayName = item.FieldDisplayName.Replace("&amp;", "&");
                    } while (item.FieldDisplayName.IndexOf("&amp;") > -1);
                    <tr id="row" style="border-bottom: 1px dotted #eeeaea; background-color: #D9D9D9; ">
                        <td id="RequestFieldId" style="display:none;">@Html.DisplayFor(modelItem => item.RowKey)</td>
                        <td id="FieldName" style="display:none;">@Html.DisplayFor(modelItem => item.FieldName)</td>
                        <td id="FieldDisplayName" style="display:none;">@Html.DisplayFor(modelItem => item.FieldDisplayName)</td>
                        <td>
                            <span style="padding: 5px 5px 5px 5px;display: block;"> @Html.DisplayFor(modelItem => item.FieldDisplayName)</span>
                        </td>
                        <td id="FieldTypeGroup" style="display:none;">Custom</td>
                        <td class="openmenuavail" style="float:right;margin-right: 5px;">
                            <img src="../Content/Images/context_Menu.png" alt="Open Menu" title="Open Menu" />
                        </td>
                    </tr>
                }
            }

        </table>
        @*<span style="font-weight:bold;">Available Fields</span>
            <table class="yui-grid width100" id="customertable">
                @foreach (var item in Model.OrderBy(r => r.FieldDisplayName))
                {
                    <tr id="row" style="border-bottom: 1px dotted #eeeaea; background-color: #D9D9D9; ">
                        <td id="RequestFieldId" style="display:none;">@Html.DisplayFor(modelItem => item.RowKey)</td>
                        <td id="FieldName" style="display:none;">@Html.DisplayFor(modelItem => item.FieldName)</td>
                        <td id="FieldDisplayName" style="display:none;">@Html.DisplayFor(modelItem => item.FieldDisplayName)</td>
                        <td>
                            <span style="margin-left:5px;"> @Html.DisplayFor(modelItem => item.FieldDisplayName)</span>
                        </td>
                        <td class="openmenuavail" style="float:right;">

                            <img src="../Content/Images/context_Menu.png" alt="Open Menu" title="Open Menu" />
                        </td>

                    </tr>
                }

            </table>*@
    </div>
    <div id="dialogOrder" style="display:none;">
        @{
            int counter = 0;
            foreach (var name in ViewBag.GroupNames)
            {
                @Html.Action("RequestFieldsinGroup", "Settings", new { fieldGroup = @name, index = @counter })
                counter++;
            }
        }
    </div>
    <div id="dialogAddGroup" style="display:none;">
        <div class="modalheader"><span></span></div>
        <div class="modalbody">
            <table cellpadding="2" cellspacing="2">
                <tr>
                    <td class="f_head"></td>
                    <td class="labelright"><input id="txtGroupEntityID" name="GroupEntityID" type="hidden" /></td>
                </tr>
                <tr style="display:none;">
                    <td class="f_head">
                        Order
                    </td>
                    <td class="labelright">
                        @*<select id="ddlGroupOrder" name="GroupOrder" class="selectbox">
                                <option></option>
                            </select>*@
                        <input id="txtGroupOrder" name="GroupEntityID" type="hidden" />
                    </td>
                </tr>
                <tr>
                    <td class="f_head">
                        Field Group<span class="required">*</span>
                    </td>
                    <td class="labelright">
                        <input type="text" id="txtGroupName" maxlength="50" title="Field Group Name" onchange="ReplaceSpecialCharacters(this);" class="f_inpt fullwidth validelement startswithalphabets" />
                    </td>
                </tr>
                <tr>
                    <td class="f_head">Description</td>
                    <td class="labelright">
                        <textarea id="txtGroupDescription" maxlength="300" class="f_inpt fullwidth" style=" height: 80px;"></textarea>
                    </td>
                </tr>
                @*<tr>
                        <td class="f_head">
                            Show in Request Form
                        </td>
                        <td class="labelright">
                            <input type="checkbox" id="chkShowInRequestForm" class="css1-checkbox" />
                        </td>
                    </tr>*@
                @*<tr>
                        <td class="f_head"></td>
                        <td class="labelright">
                            <input id="btnSaveGroup" type="submit" value="Save" class="buttoncss" />
                            <input id="btnCancel" type="submit" value="Cancel" class="buttoncss modalClose" />
                        </td>
                    </tr>*@
            </table>
        </div>
    </div>

    <div id="dialogAddField" style="display:none;">
        <div class="modalheader"><span></span></div>
        <div class="modalbody">
            <table cellpadding="2" cellspacing="2">
                <tr>
                    <td width="30%">
                        <input type="text" id="RequestFieldIdHdn" style="display:none;" />
                    </td>
                    <td width="70%"></td>
                </tr>
                <tr>
                    <td class="f_head">
                        Field Type<span class="required">*</span>
                    </td>
                    <td class="labelright">
                        <select id="ddlFieldType" onchange="changevalues(this);" class="f_inpt fullwidth validelement" disabled="disabled">
                            <option value="0">--Select--</option>
                            <option value="Single Line Text">Single Line Text</option>
                            <option value="Multi Line Text">Multi Line Text</option>
                            <option value="Date">Date</option>
                            <option value="Choice">Choice</option>
                            <option value="User">User</option>
                            <option value="Multi- Choice (Dropdown)">Multi- Choice (Dropdown)</option>
                            <option value="Multi- Choice (Browse)">Multi- Choice (Browse)</option>
                            <option value="File Upload">File Upload</option>
                            <option value="Value / Financials">Value / Financials</option>
                            <option value="Lookup">Lookup</option>
                            <option value="Lookup (Multi Select)">Lookup (Multi Select)</option>
                            <option value="Number">Number</option>
                            <option value="Phone Number">Phone Number</option>
                            <option value="Yes/No">Yes/No</option>
                            @*<option value="Duration">Duration</option>*@
                            <option value="Email">Email</option>
                            @*<option value="Lookup" disabled="disabled">Lookup</option>*@
                            <!---manoj--->
                            <!---for hyperlink--->
                            <option value="Hyperlink">Hyperlink</option>
                            <!---for hyperlink--->
                            <!---manoj--->
                            <option value="Taxonomy">Office 365 Sharepoint Taxonomy</option>

                        </select>
                    </td>
                </tr>
                <tr id="trNumberFormatField" style="display:none;">
                    <td class="f_head">
                        Number Format<span class="required">*</span>
                    </td>
                    <td class="labelright">
                        <select id="ddlNumberFormat" class="f_inpt width100" title="Number Format">
                            <option value="Number">Number</option>
                            <option value="Number-D">Decimal</option>
                            <option value="Number-P">Percent</option>
                            <option value="Number-PD">Decimal Percent</option>
                        </select>
                    </td>
                </tr>
                <tr id="trFieldName">
                    <td class="f_head">
                        Field Name
                    </td>
                    <td class="labelright">
                        <input type="text" id="txtFieldName1" class="f_inpt fullwidth" disabled title="Field Name" />
                    </td>
                </tr>
                <tr>
                    <td class="f_head">
                        Field Display Name<span class="required">*</span>
                    </td>
                    <td class="labelright">
                        <input type="text" id="txtFieldDisplayName" maxlength="50" title="Field Display Name" onchange="ReplaceSpecialCharacters(this);" class="f_inpt fullwidth validelement startswithalphabets" />
                        <input type="text" id="txtFieldName" style="display:none" class="f_inpt fullwidth" />
                    </td>
                </tr>

                <tr id="trFieldComment" style="display:none;">
                    <td class="f_head">
                        Display 'Comment Box' For
                    </td>
                    <td class="f_list labelright">
                        <input name="chkYes" class="css1-checkbox" id="chkYes" type="checkbox" onclick="chkYesNoClick()">
                        <label class="css1-label" for="chkYes" style="margin-right:4%;">Yes</label>
                        <input name="chkNo" class="css1-checkbox" id="chkNo" type="checkbox" onclick="chkYesNoClick()">
                        <label class="css1-label" for="chkNo" style="margin-right:58%;">No</label>
                        <input name="chkCommentRequired" class="css1-checkbox" id="chkCommentRequired" type="checkbox">
                        <label class="css1-label" for="chkCommentRequired">Required</label>
                    </td>
                </tr>
                <!---manoj--->
                <!---for hyperlink--->
                <tr class="cldefaulturl" style="display:none">
                    <td class="f_head">
                        Default URL
                        <span class="p-text help"> <img src="../Content/Images/input-help.png" title="​​Add default URL link, to be auto populated ​​​​in​ ​hyperlink field​ ​​​inside create/edit request form."></span>
                    </td>
                    <td class="labelright">
                        <input type="text" id="txtdefaulturl" onchange="ReplaceTagSymbol(this);" maxlength="2083" title="Default URL" placeholder="http://www." class="f_inpt fullwidth" />
                    </td>
                </tr>
                <!---for hyperlink--->
                <!---manoj--->
                <tr>
                    <td class="f_head">
                        Field Group
                    </td>
                    <td class="labelright">
                        <select id="ddlFieldGroup" class="f_inpt fullwidth">
                            @*<option value="0">--Select--</option>*@
                        </select>
                    </td>
                </tr>
                <tr id="trfieldorder" style="display:none;">
                    <td class="f_head">
                        Order
                    </td>
                    <td class="labelright">
                        <select id="ddlFieldOrder" class="f_inpt fullwidth"></select>
                    </td>
                </tr>
                <tr>
                    <td class="f_head">Required</td>
                    <td class="f_list labelright">
                        <input name="chkRequired" class="css1-checkbox" id="chkRequired" type="checkbox">
                        <label class="css1-label" for="chkRequired"></label>
                    </td>
                </tr>
                <tr>
                    <td class="f_head">Show Field In</td>
                    <td class="f_list labelright">
                        <input name="chkShowInCreate" class="css1-checkbox" id="chkShowInCreate" type="checkbox">
                        <label class="css1-label" for="chkShowInCreate">Create Form</label>
                        <input name="chkShowInEdit" class="css1-checkbox" id="chkShowInEdit" type="checkbox">
                        <label class="css1-label" for="chkShowInEdit">Edit Form</label>
                    </td>
                </tr>
                <tr id="trDescription">
                    <td class="f_head">Description</td>
                    <td class="labelright">
                        <textarea id="txtDescription" onchange="ReplaceTagSymbol(this);" maxlength="300" class="f_inpt fullwidth" style="height:80px; resize: none;"></textarea>
                    </td>
                </tr>
                <tr>
                    <td class="f_head">Field Help</td>
                    <td class="f_list labelright">
                        <input name="chkHelp" class="css1-checkbox" id="chkHelp" type="checkbox">
                        <label class="css1-label" for="chkHelp"></label>
                    </td>
                </tr>
                <tr>
                    <td class="f_head">Help Text</td>
                    <td class="labelright">
                        <textarea id="txtHelpText" onchange="ReplaceTagSymbol(this);" maxlength="300" class="f_inpt fullwidth" style="height:80px; resize: none;" title="Help Text"></textarea>
                    </td>
                </tr>
                @*<tr id="ddlRequesttype">
                        <td class="f_head">Request Type(s)</td>

                        <td class="f_list labelright">
                            <select id="ddlRequestTypeList" name="ddlRequestTypeList" multiple="multiple" class="f_inpt width90 chosenmulti" data-placeholder="Select Request type(s)"></select>
                            <label class="css1-label" for="ddlRequestTypeList"></label>
                        </td>
                    </tr>*@
                <tr style="display:none;">
                    <td class="f_head">Default Field</td>
                    <td>
                        <input type="checkbox" id="chkDefaultField" class="css1-checkbox" />
                    </td>
                </tr>
                <tr id="trchoicesvalues" style="display:none;">
                    <td class="f_head">
                        Choice Values
                    </td>
                    <td class="labelright">
                        <textarea id="txtChoicesValues" class="f_inpt fullwidth validelement choicevaluevalidate" onchange="ReplaceTagSymbol(this);" placeholder="Type each choice on a separate line" style="height:80px; resize: none;" title="Choice Values"></textarea>
                    </td>
                </tr>
                <tr id="trlookupvalues" style="display:none;">
                    <td class="f_head" id="trlookupvaluesid">
                        Lookup
                    </td>
                    <td class="labelright">
                        <select id="ddlLookupType" class="f_inpt width100" title="Lookup Tables"></select>
                        <span class="css1-label" id="txtLookupTable"></span>
                    </td>
                </tr>
                @*<tr id="AllTypeUpdate" style="display:none">
                        <td class="f_head">Update For All Request Types</td>
                        <td class="f_list labelright">
                            <input name="chkAllTypeUpdate" class="css1-checkbox" id="chkAllTypeUpdate" type="checkbox">
                            <label class="css1-label" for="chkAllTypeUpdate"></label>
                        </td>
                    </tr>*@
                @*<tr>
                        <td class="f_head"></td>
                        <td class="labelright">
                            <input id="btnSaveField" type="submit" value="Save" class="buttoncss" />
                            <input id="btnCancel" type="submit" value="Cancel" class="buttoncss modalClose" />
                        </td>
                    </tr>*@
            </table>
        </div>
    </div>
    <!-- Other fields Menu -->
    <ul id="myMenu" class="contextMenu">
        <li class="edit"><a href="#edit">Edit</a></li>
        <li class="remove"><a href="#delete">Remove</a></li>
    </ul>

    <!-- Available fields Menu -->
    <ul id="availableFieldsMenu" class="contextMenu">
        <li class="template"><a href="#add">Add</a></li>
        @*<li class="delete"><a href="#delete">Delete</a></li>*@
    </ul>

    <!-- Primary Field Menu -->
    <ul id="primaryMenu" class="contextMenu">
        <li class="moveup"><a href="#groupup">Move Up</a></li>
        <li class="movedown"><a href="#groupdown">Move Down</a></li>
        @*<li class="order"><a href="#orderfields">Order</a></li>
            <li class="edit"><a href="#groupedit">Edit</a></li>*@
    </ul>

    <!-- Group Menu -->
    <ul id="groupMenu" class="contextMenu">
        <li class="edit"><a href="#groupedit">Edit</a></li>
        <li class="delete"><a href="#groupdelete">Delete</a></li>
        <li class="moveup"><a href="#groupup">Move Up</a></li>
        <li class="movedown"><a href="#groupdown">Move Down</a></li>
        @*<li class="order"><a href="#orderfields">Order</a></li>*@

    </ul>

    <!-- Group Menu -->
    <ul id="mandatoryFieldMenu" class="contextMenu">
        <li class="edit"><a href="#edit">Edit</a></li>
    </ul>

    <ul id="groupMenuNoUp" class="contextMenu">
        <li class="edit"><a href="#groupedit">Edit</a></li>
        <li class="delete"><a href="#groupdelete">Delete</a></li>
        <li class="movedown"><a href="#groupdown">Move Down</a></li>
    </ul>
    <ul id="groupMenuNoDown" class="contextMenu">
        @*<li class="order"><a href="#orderfields">Order</a></li>*@
        <li class="edit"><a href="#groupedit">Edit</a></li>
        <li class="delete"><a href="#groupdelete">Delete</a></li>
        <li class="moveup"><a href="#groupup">Move Up</a></li>
    </ul>
    <ul id="groupMenuNoUpDown" class="contextMenu">
        <li class="edit"><a href="#groupedit">Edit</a></li>
        <li class="delete"><a href="#groupdelete">Delete</a></li>
    </ul>
</div>

@Scripts.Render("~/Scripts/Contract365/Settings_RequestTypesMetadata.js?" + DateTime.Now.GetHashCode())