
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MyAlerts</title>
</head>
<body>
    <table  class="width100">
        <tbody id="alertList"></tbody>
    </table>

    <div id="dvAlertDetails" style="display:none;">
        <div class="modalbody">
            <div id="addNewEntityFields">
                <table cellpadding="2" cellspacing="2"  class="width100">
                    <tr>
                        <td class="labelleft" align="right">
                            Sent on
                            <span class="text" id="sentOn"></span>
                        </td>
                    </tr>
                    <tr style="display:none">
                        <td class="labelleft" colspan="2">Alert Title</td>
                    </tr>
                    <tr>
                        <td class="text" colspan="2" id="alertTitle"></td>
                    </tr>
                    <tr>
                        <td class="labelleft" colspan="2" id="alertText"></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>    
    
    <!-- Right Click Menu -->
    @*<ul id="myMenu" class="contextMenu">
        <li class="viewdetails"><a href="#view">View Details</a></li>
        <li class="dismiss"><a href="#dismiss">Dismiss</a></li>
    </ul>*@
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @*@Styles.Render("~/Content/econtractscss")*@
    <script type="text/javascript" src="~/Scripts/moment.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery-ui-1.12.1.js"></script>

    <script type="text/javascript" src="~/Scripts/dropdown-menu.min.js"></script>
    <link rel="stylesheet" type="text/css" href="~/Content/jquery.contextMenu.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/jquery.popup.css" />
    <script type="text/javascript">
        var vApiBaseSiteUrl = '@System.Configuration.ConfigurationManager.AppSettings["ApiBaseSiteUrl"]';
        if ('@Session["UserName"]' != '') {
        localStorage.UserName = decodeURI(unescape('@Session["UserName"]'));
        localStorage.AccountID = '@System.Web.HttpContext.Current.Session["AccountID"]';
        localStorage.APIKey = '@Session["APIKey"]';
        localStorage.SPHostUrl = '@Session["SPHostUrl"]';
        localStorage.UserTitle = '@Session["UserTitle"]';
        localStorage.OEmail = decodeURI(unescape('@Session["OEmail"]'));
        localStorage.UserID = '@Session["UserID"]';
        localStorage.LoginTime = new Date();
        localStorage.RefreshToken = '@Session["RefreshToken"]';
        localStorage.Permission = '';
        localStorage.GlobalBusinessArea = 'All';
        localStorage.GlobalBusinessAreaLocation = 'All';
        localStorage.BusinessAreaAccess = '';
        }
    </script>
    @*<script src="~/Scripts/Contract365/General_MyAlerts.js" type="text/javascript"></script>*@
    @Scripts.Render("~/Scripts/Contract365/General_MyAlerts.js?" + DateTime.Now.GetHashCode())
</body>
</html>
