@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Create Request";
}

<link href="~/Content/css/wizard.css" rel="stylesheet" type="text/css">
<link href="~/Content/css/intlTelInput.css" rel="stylesheet" />
<style>
    /*eO310319*/
    #txtSearchBoxCounterparties::-webkit-search-cancel-button {
        display: none;
    }
</style>
<div class="form-wraper">
    <div class="form-wraper-in">
        <div class="form-body">
            <div class="form-body-in">

                <div class="form-headding-bdy">
                    <div class="form-headding-bdy">
                        <div class="row-group">
                            <div class="col10 m12">
                                <h2 class="h2-head">Create Request</h2>
                                <p class="p-text help">Fill in and submit this form to make a Request. The Request will be further processed by the user to whom it's assigned.</p>
                            </div>
                            <div class="col2 m12">
                                <div class="head-help text-right">
                                    <a href="javascript:void(0);" id="btnHelp" class="btn1 btn-blue btn-help"> <img src="~/Content/Images/input-help-white.png"> Hide Help</a>
                                    <a class="btn1 p-text btn-required"><span class="text-red font-16">*</span> Required Fields.</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="saveRequestForm" class="width100">
                    <div class="form-boddy-content ">
                        <div class="form-boddy-content-in">
                            <div class="form-boddy-content-bdr">

                                @*<div class="form-tab-group">
                                        <ul>
                                            <li><a href="javascript:void(0);" class="active" style="border-left:0px;"> <img src="~/Content/Images/summary.png"> <span class="m-off">Summary</span></a></li>
                                        </ul>
                                    </div>*@

                                <div class="form-tab-content">
                                    <div class="form-tab-content-in">
                                        @*<div class="row-group tab-title">
                                                <div class="col12">
                                                    <div class="pad-all no-paa-bot padding_left_none">
                                                        <h2 class="h2-head text-blue">Summary</h2>
                                                        <p class="p-text help">This summary form gathers essential information (which may change with each Request Type) for processing the request.</p>
                                                    </div>
                                                </div>
                                            </div>*@
                                        <div class="form-wraper">
                                            <div>
                                                @*class="form-wraper-in"*@
                                                <div class="form-section">
                                                    <div class="form-section-in" id="mainRequestForm">

                                                        <div class="row-group">
                                                            <div class="col12 no-pad">
                                                                <div class="collapse-heading">
                                                                    <div class="col10 no-pad">
                                                                        <h3 class="h3-head" style="padding-left:10px;" id="fieldGroup-1">Primary Fields</h3>
                                                                        <p class="p-text" id="fieldGroup-1Desc"></p>
                                                                    </div>
                                                                    <div class="col2 text-right">
                                                                        <a class="" href="javascript:void(0);" onclick="javascript: togglediv123('dvPrimaryField', 'primefirst', 'newdivforcheck');"><img id="primefirst" src="~/Content/Images/e-close.png" title="Collapse" /></a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row-group pad-top" id="dvPrimaryField">
                                                            <div class="form-input-group">
                                                                <div class="row-group">
                                                                    <label class="col3 m12 margin-top-8">
                                                                        Business Area<span class="text-red margin-top-8">*</span>
                                                                    </label>
                                                                    <div class="col6 m11">
                                                                        <input type="text" id="txtRequestBusinessArea" class="form-contro validelement" readonly='readonly'>
                                                                        <label class="col12 p-text text-left help" id="lblBusinessAreaDescription"></label>
                                                                    </div>
                                                                    <div class="col3 m1">
                                                                        <div class="success-input-msg margin-top-8">
                                                                            <img id="imgbusinessarea" src="/Content/Images/input-help.png">
                                                                            <a id="viewbusinessarea" href='javascript:void(0)'>Browse</a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="form-input-group ctypeconfigure">
                                                                <div class="row-group">
                                                                    <label class="col3 m12 margin-top-8">
                                                                        Request Type<span class="text-red">*</span>
                                                                    </label>
                                                                    <div class="col6 m12">
                                                                        <select class="form-contro validelement" id="ddlRequestTypes"></select>

                                                                        <label class="col12 p-text text-left help" id="lblContractTypeDescription"></label>
                                                                    </div>
                                                                    <div class="col3 m1">
                                                                        <div class="success-input-msg margin-top-8">
                                                                            <img id="imgrequesttype" src="/Content/Images/input-help.png">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="form-input-group">
                                                                <div class="row-group">
                                                                    <label class="col3 m12 margin-top-8">
                                                                        Request Title<span class="text-red">*</span>
                                                                    </label>
                                                                    <div class="col6 m12">
                                                                        <input type="text" maxlength="100" class="form-contro validelement validtitle validatebracket" id="txtRequestTitle">
                                                                    </div>
                                                                    <div class="col3 m1">
                                                                        <div class="success-input-msg margin-top-8">
                                                                            <img id="imgrequesttitle" src="/Content/Images/input-help.png">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div id="newdivforcheck">

                                                        </div>
                                                        <div id="undercheck">

                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="row-group btn-body">
                                            <div class="col12">
                                                <div class="pad-all text-right">
                                                    <a href="javascript:void(0);" class="btn1 btn-blue" id="btnCreateRequest">Submit</a>
                                                    <a href="javascript:void(0);" class="btn btn-blue-border" id="btnSaveasDraftRequest"> Save As Draft</a>
                                                    <a href="javascript:void(0);" class="btn1" id="btnClearFilterRequest" onclick="location.href='@Url.Action("Requests", "Pipeline")'"> Cancel</a>
                                                </div>
                                            </div>
                                            <div class="col12">
                                                <div class="pad-all text-right pad-top-none help">
                                                    @*<p class="p-text"><strong>Create</strong> will submit this Request to the selected Business Area and will notify the 'Assigned To' user.</p>*@
                                                    <p class="p-text"><strong>Save As Draft</strong> to continue to work on this form and submit later.</p>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>



                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="browseBA" class="k-content" style="display: none; text-align: left; height:600px;">
    <div id="loadBA"></div>
    <div style="overflow-y: auto; height: 480px;border: 1px solid #dcdcdc;">
        <table id="example-basic-12" class="treetable">
            <tbody id="tbodyBusinessArea12"></tbody>
        </table>
    </div>
    <div class="selectFIlterItem" style="margin-bottom:15px;">
        <div id="liSelectedBA">
        </div>
    </div>
    <input id="txtBARowkey" type="hidden" /><input id="txtBAParent" type="hidden" /><input id="txtBA" type="hidden" />
    <input id="txtContractAreaName" type="hidden" /><input id="txtContractAreaAdministrators" type="hidden" /><input id="txtBusinessAreaOwners" type="hidden" />
    <input id="txtBusinessAreaDescription" type="hidden" />
</div>

<div id="browseTaxonomy" class="k-content" style="display: none; text-align: left; height:600px;">
    <div id="loadTaxonomy"></div>
    <div style="overflow-y: auto; height: 480px;border: 1px solid #dcdcdc;">
        <table id="example-basic-Taxonomy12" class="treetable">
            <tbody id="tbodyTaxonomy12"></tbody>
        </table>
    </div>
    <div class="selectFIlterItem" style="margin-bottom:15px;">
        <div id="liSelectedTaxonomy">
        </div>
    </div>
</div>

<div id="browseCounterparty" style="display:none;overflow: hidden;">
    <ul id="menuSMultiple" class="f_list">
        <li id="Upcoming">
            <input id="rdCPExistingCounterparty" type="radio" checked name="PickCounterparty" onclick="SelectExistingCounterparty()" value="Existing" class="css-checkbox" />
            <label for="rdCPExistingCounterparty" class="css-label">Select from eContract existing Counterparty Database</label>
        </li>
        <li id="Delayed">
            <input id="rdCPAddCounterparty" type="radio" name="PickCounterparty" onclick="SelectAddCounterparty()" value="New" class="css-checkbox" />
            <label for="rdCPAddCounterparty" class="css-label">Create / Add Counterparty</label>
        </li>
    </ul>
    @*<div id="dvCPExistingCounterparty" class="width100">
            <p class="text1" style="padding: 0px 10px 10px 10px;">You can select one or more counterparty from below and link to this contract.</p>
            <article style="width:100%; text-align:center;">
                <input id="txtSearchBox" class="f_inpt cl width80" type="text" style="text-wrap:none" placeholder="Type to Search" />
                <img title="Search" style="cursor: pointer; position: relative; left: -40px; top:-2px; " onclick="javascript: SearchCounterparty();" src="@Url.Content("~/Content/Images/search_over.png")" />
                <a href="javascript:void(0)" class="linkPickerClear" onclick="$('#txtSearchBox').val(''); SearchCounterparty();">Clear</a>
            </article>
            <div id="loadCP"></div>
            <div id="page-wrap" class="conter_Picker-txt" style="margin-bottom: 10px;">
                <table id="tblCounterparties"></table>
                <span id="spCounterpartiesUnselect" class='right-float padding_left_5px'>
                    <a class="linkText" href="javascript:void(0)" onclick="$('input:checkbox[name=Counterparty]').attr('checked', false);">Unselect All</a>
                </span>
            </div>
            <div class="pagination-holder clearfix">
                <article id="compact-paginationCounterparties"></article>
            </div>
        </div>*@

    <div id="dvCPExistingCounterparty" class="width100">
        @*<p class="text1" style="padding: 0px 10px 10px 10px;">You can select one or more counterparty from below and link to this request.</p>
            <article style="width:100%; text-align:center;">
                <input id="txtSearchBox" class="f_inpt cl width80 padding_right_20px" type="text" style="text-wrap:none" placeholder="Type to Search" />
                <img title="Search" style="cursor: pointer; position: relative; left: -40px; top:-2px; " onclick="javascript: SearchCounterparty();" src="@Url.Content("~/Content/Images/search_over.png")" />
                <a href="javascript:void(0)" class="linkPickerClear" onclick="$('#txtSearchBox').val(''); SearchCounterparty();">Clear</a>
            </article>*@
        <div id="page-wrap" class="conter_Picker-txt" style="margin-bottom: 10px;">
            <!---manoj--->
            <div id="listWrapper">
                @*Performance Optimization*@
                <div id="tblCounterpartiesAlphabet" class="alphabet"><span class="clear active">All</span><span>#</span><span>A</span><span>B</span><span>C</span><span>D</span><span>E</span><span>F</span><span>G</span><span>H</span><span>I</span><span>J</span><span>K</span><span>L</span><span>M</span><span>N</span><span>O</span><span>P</span><span>Q</span><span>R</span><span>S</span><span>T</span><span>U</span><span>V</span><span>W</span><span>X</span><span>Y</span><span>Z</span></div>
                <div class="dataTables_length" id="tblCounterparties_length"><label>Show <select id="ddltblCounterparties"><option value="10">10</option><option selected="selected" value="20">20</option><option value="30">30</option></select> entries</label></div>
                <div id="tblCounterparties_filter" class="dataTables_filter"><label>Search:<input type="search" id="txtSearchBoxCounterparties"></label></div>
                <table id="tblCounterparties" class="f_list dataTable no-footer"></table>
                @*Performance Optimization*@
            </div>
            <!---manoj--->
            @*<span id="spCounterpartiesUnselect" class='right-float padding_left_5px'>
                    <a class="linkText" href="javascript:void(0)" onclick="$('input:checkbox[name=Counterparty]').attr('checked', false);">Unselect All</a>
                </span>*@
        </div>
        <div id="loadGenCounterParty"></div>
        <div class="pagination-holder clearfix">
            <article id="compact-paginationCounterparties"></article>
        </div>
        <div class="selectFIlterItem" style="margin-bottom:15px;">
            <div id="liSelectedCounterParty">
            </div>
        </div>
    </div>

    <div id="dvCPAddCounterparty" class="width100" style="display:none;">
        <div id="addNewEntityFields">
            <div id="counterpartyForm" class="width100">
                <ul class="poPup_Form_Field pop-up-space" id="counterpartyItems">
                    <li>
                        <p></p>
                        <div>
                            <input id="txtCounterpartyID" name="CounterpartyID" type="hidden" />
                        </div>
                    </li>
                    <li>
                        <p><b>Counterparty Name</b><small>*</small></p>
                        <div>

                            <input id="txtCounterpartyName" name="CounterpartyName" maxlength="100" type="text" title="Counterparty Name" onchange="ReplaceSpecialCharacters(this);" class="validelement validtitle" />
                        </div>
                    </li>
                    <li id="spAddCounterparty">
                        <div style="display: block; clear: both;width: 100%;">
                            <input type="checkbox" id="chkCounterpartyNotInList" class="css1-checkbox cp-check" disabled>
                            <label for="chkCounterpartyNotInList" class="css1-label">Add to eContracts Counterparty Database</label>
                        </div>
                    </li>
                    <li class="CP_Det1" id="trcp-type">
                        <p><b>Counterparty Type</b><small>*</small></p><div>
                            <select id="ddlCounterpartyType" name="CounterpartyType" title="Counterparty Type" class="">
                                <option value="0">--Select--</option>
                            </select>
                        </div>
                    </li>
                    <li class="CP_Det1" id="trcp-gbl">
                        <p><b>Global or Regional</b><small>*</small></p><div>
                            <input type="radio" checked style="margin: 0px 0px 2px 5px;width: 10% !important;height: 13px !important;" name="IsGlobal" value="Yes">Global<input type="radio" style="margin: 0px 0px 2px 62px;width: 10%;height: 13px !important;" name="IsGlobal" value="No" />Regional
                        </div>
                    </li>
                    <li class="" id="trcp-RgBusi" style="display:none">
                        <p><b>Business Area</b><small>*</small></p><div>
                            <input id="txtOwnerofBusinessArea" name="BusinessAreas" readonly="readonly" type="text" class="">
                            <a href="javascript:void(0)" class="linkText" id="Multi Choice(Browse)" title="MultiLine" onclick="ViewOwnerofBusinessArea(this)"> Browse</a>
                        </div>
                    </li>
                    <li class="CP_Det1">
                        <p><b>Status</b><small>*</small></p><div>
                            <select id="ddlStatus" name="Status" style="pointer-events:none">
                                <option value="Active">Active</option>
                                @*<option value="Inactive">Inactive</option>*@
                            </select>
                        </div>
                    </li>
                </ul>
                <ul class="poPup_Form_Field pop-up-space" id="counterpartyDynamicItems"></ul>
            </div>

            @*<table class="width100" cellpadding="2" cellspacing="2">
                <tr>
                    <td class="f_head"></td>
                    <td class="labelright"><input id="txtCounterpartyID" name="CounterpartyID" type="hidden" /></td>
                </tr>
                <tr>
                    <td class="f_head">Counterparty Name<small class="required">*</small></td>
                    <td class="labelright"><input id="txtCounterpartyName" name="CounterpartyName" type="text" title="Counterparty Name" class="f_inpt width90 validelement" /></td>
                </tr>
                <tr id="spAddCounterparty">
                    <td class="f_head"></td>
                    <td class="labelright">
                        <div style="display: block; clear: both;width: 100%;">
                            <input type="checkbox" id="chkCounterpartyNotInList" class="css1-checkbox cp-check">
                            <label for="chkCounterpartyNotInList" class="css1-label">Add to eContracts Counterparty Database</label>
                        </div>
                    </td>
                </tr>
                <tr class="CP_Det1">
                    <td class="f_head">Counterparty Type<small class="required">*</small></td>
                    <td class="labelright">
                        <select id="ddlCounterpartyType" name="CounterpartyType" title="Counterparty Type" class="f_inpt width91_4 ">
                            <option value="0">--Select--</option>
                        </select>
                    </td>
                </tr>
                @*<tr class="CP_Det">
                    <td class="f_head">Address</td>
                    <td class="labelright"><input id="txtAddressLine1" name="AddressLine1" type="text" class="f_inpt width90" /></td>
                </tr>
                <tr class="CP_Det">
                    <td>&nbsp;</td>
                    <td class="labelright"><input id="txtAddressLine2" name="AddressLine2" type="text" class="f_inpt width90" /></td>
                </tr>
                <tr class="CP_Det">
                    <td class="f_head">City</td>
                    <td class="labelright"><input id="txtCity" name="City" type="text" class="f_inpt width90" /></td>
                </tr>
                <tr class="CP_Det">
                    <td class="f_head">State</td>
                    <td class="labelright"><input id="txtState" name="State" type="text" class="f_inpt width90" /></td>
                </tr>
                <tr class="CP_Det">
                    <td class="f_head">Country</td>
                    <td class="labelright">
                        <select id="ddlCountry" name="Country" class="f_inpt width91_4">
                            <option value="0">--Select--</option>
                        </select>
                    </td>
                </tr>
                <tr class="CP_Det">
                    <td class="f_head">Zip/Postal Code</td>
                    <td class="labelright"><input id="txtZip" name="Zip" type="text" class="f_inpt width90" /></td>
                </tr>
                <tr class="CP_Det">
                    <td class="f_head">Contact Number</td>
                    <td class="labelright">
                        <input id="txtContactNo" name="ContactNo" type="text" title="Contact Number" class="f_inpt width90" />
                    </td>
                </tr>
                <tr class="CP_Det">
                    <td class="f_head">Email ID</td>
                    <td class="labelright"><input id="txtEmailID" name="EmailID" type="text" title="Email ID" class="f_inpt width90 validemail" /></td>
                </tr>*@
            @*<tr class="CP_Det1">
                        <td class="f_head">Status<img title="By default, status of a newly created Request is 'New'. this changes as per the contract lifecycle stages or can be manually set." src="/Content/Images/input-help.png"></td>
                        <td class="labelright">
                            <select id="ddlStatus" name="Status" class="f_inpt width91_4">
                                <option value="Active">Active</option>
                                <option value="Inactive">Inactive</option>
                            </select>
                        </td>
                    </tr>
                </table>*@
        </div>
    </div>

    <div id="browseLegalEntity">

        <div id="dvCPExistingLegalEntity" class="width100">
            @*<article style="width:100%; text-align:center;">
                    <input id="txtSearchBox" class="f_inpt cl width80 padding_right_20px" type="text" style="text-wrap:none" placeholder="Type to Search" />
                    <img title="Search" style="cursor: pointer; position: relative; left: -40px; top:-2px; " onclick="javascript: SearchCounterparty();" src="@Url.Content("~/Content/Images/search_over.png")" />
                    <a href="javascript:void(0)" class="linkPickerClear" onclick="$('#txtSearchBox').val(''); SearchCounterparty();">Clear</a>
                </article>*@
            <div id="page-wrap" class="conter_Picker-txt" style="margin-bottom: 10px;">
                <div id="listLEWrapper">
                    @*<table id="tblCounterparties"></table>*@
                </div>
                @*<span id="spCounterpartiesUnselect" class='right-float padding_left_5px'>
                        <a class="linkText" href="javascript:void(0)" onclick="$('input:checkbox[name=Counterparty]').attr('checked', false);">Unselect All</a>
                    </span>*@
                <div id="loadGenLegalEntity"></div>
                <div class="pagination-holder clearfix">
                    <article id="compact-paginationLegalEntity"></article>
                </div>
                <div class="selectFIlterItem" style="margin-bottom:15px;">
                    <div id="liSelectedLegalEntity">
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>
<div id="browseBAOwners" class="k-content" style="display: none; text-align: left;">
    <div style="border: 1px solid rgb(220, 220, 220); height: 480px; overflow-y: auto;">
        <table id="example-basic-11" class="treetable">
            <tbody id="tbodyBusinessArea11"></tbody>
        </table>
    </div>
    <div class="selectFIlterItem" style="margin-bottom:10px;">
        <div id="liSelectedBAOwners">
        </div>
        <label id="lblBusinessAreaOwners" style="display: none;"></label>
    </div>

    <input id="txtBAOwnerofRowkey" type="hidden" /><input id="txtBAOwnerofParent" type="hidden" /><input id="txtBAOwnerof" type="hidden" /><input id="txtBAOwnerofPath" type="hidden" />
</div>
<div id="addEditCounterparty" style="display:none;">
    <div id="dvPopupHeading" class="modalheader"><span></span></div>
    <div class="modalbody">
    </div>
</div>

<div id="browseOriginatingParty" style="display:none;">
    <div id="loadOP"></div>
    <div id="page-wrap">
        <ul class="f_list" id="tblOriginatingParties"></ul>
    </div>
    <div class="pop_up_Content MetadataDetailDocument" style="min-height:550px;width:100%;">
        <ul class="pop_up_Harizondal">
            <li><a href="javascript:void(0)" id="OPLeagalEntities" class="pop_up_Harizondal_meta_active" onclick="SelectLegalEntities();">Company Legal Entities</a></li>
            <li><a href="javascript:void(0)" id="OPCounterparties" onclick="SelectCounterparties();">Counterparties</a></li>
        </ul>
        <div id="page-wrap">
            <ul class="f_list" id="tblOPLegalEntities" style="padding: 10px;"></ul>
        </div>


        <div id="page-wrap">
            <ul class="f_list" id="tblOPCounterparties" style="padding: 10px;display:none;"></ul>
        </div>

    </div>
    <div class="pagination-holder clearfix">
        <article id="compact-paginationOPLegalEntities"></article>
    </div>
    <div class="pagination-holder clearfix">
        <article id="compact-paginationOPCounterparties" style="display:none;"></article>
    </div>
</div>

<div id="browseGenericforrelcon" style="display:none;overflow: hidden;">
    <div id="page-wrap" class="f_list" style="margin-bottom: 10px;">
        <table id="tblGenericforcon"></table>
    </div>
    <div id="loadGencon"></div>
    <div class="pagination-holder clearfix">
        <article id="compact-paginationGenericcon" style="width:100%; text-align:center;"></article>
    </div>
</div>

<div id="browseGeneric" style="display:none;overflow: hidden;">
    <div id="page-wrap" style="margin-bottom: 10px;">
        <table id="tblGenericheader"></table>
        <div class="f_list">
            <table id="tblGeneric"></table>
        </div>
    </div>
    <div id="loadGen"></div>
    <div class="pagination-holder clearfix">
        <article id="compact-paginationGeneric" class="compact-theme simple-pagination"></article>
    </div>
    <div class="selectFIlterItem" style="margin-bottom:15px;">
        <div id="liSelectedRU">
        </div>
    </div>
</div>

<div id="browseProjects" style="display:none;overflow: hidden;">
    <p class="text1" style="padding: 0px 10px 10px 10px;">You can select a project from below and link to this request.</p>
    <article style="width:100%; text-align:center;">
        <input id="txtSearchBoxProjects" class="f_inpt cl width80 padding_right_20px" type="text" placeholder="Type to Search" />
        <img title="Search" style="cursor: pointer; position: relative; left: -40px; top:-2px; " onclick="javascript: SearchProjects();" src="@Url.Content("~/Content/Images/search_over.png")" />
        <a href="javascript:void(0)" class="linkPickerClear" onclick="$('#txtSearchBoxProjects').val(''); SearchProjects();">Clear</a>
    </article>
    <div id="loadPro"></div>
    @*eO39919*@
    <div id="page-wrap" class="f_list">
        <table id="tblProjects" class="f_list no-footer"></table>
    </div>
    <div class="pagination-holder clearfix">
        <article id="compact-paginationProjects"></article>
    </div>
</div>


<div id="browseProjectTasks" style="display:none;overflow: auto;">
    <div id="loadProTask"></div>
    <div id="page-wrap" class="f_list" style="margin-bottom: 10px;">
        <table id="tblProjectTasks"></table>
    </div>
    <div class="pagination-holder clearfix">
        <article id="compact-paginationProjectTasks"></article>
    </div>
</div>

<!---manoj--->
<div id="popupCounterparties" style="height:auto !important; display: none; overflow-y: auto;">
    <div id="dvPopupHeadingPeople" class="modalheader"><span></span></div>
    <div class="modalbody">
        <div class="bg-warning">
            <p>You can select one or more existing counterparty from below and link to this counterparty.</p>
        </div>
        <article id="right">
            <input id="txtAddSearchBoxCounterparties" class="f_inpt cl width70 padding_right_20px" type="text" style="text-wrap:none" placeholder="Type to Search" />
            <img title="Search" style="cursor: pointer; position: relative; left: -40px; top:-2px; " onclick="javascript: ViewCounterparties();" src="@Url.Content("~/Content/Images/search_over.png")" />
            <a href="javascript:void(0)" class="linkPickerClear" onclick="$('#txtAddSearchBoxCounterparties').val(''); ViewCounterparties();">Clear</a>
        </article>
        <div>
            <label>Relationship Type</label>
            <select id="ddlRelationshipTypeCounterparties" class="f_inpt width50 validelement margin-l0px">
                <option value="0">--Select--</option>
                <option value="Parent">Parent - Subsidiary</option>
                <option value="Supplier">Supplier - Customer</option>
                <option value="Prime Contractor">Prime Contractor - Sub Contractor</option>
                <option value="Dissolved on Merger">Dissolved on Merger - Merged into</option>
                <option value="Other">Other</option>
            </select>
            <div>
                <div>
                    <span><label id="lblRelatedPopup_Counterparties" style="float:left;padding-top: 10px;" class="margin-left0 margin-right-10"> </label><img style="padding-top: 10px;" title="Choose how the chosen type is related with the current Contract Record." src="/Content/Images/input-help.png"></span>
                    <select id="ddlRelationshipTypeParentcounterparties" class="f_inpt width30 validelement"></select>
                </div>
            </div>
            <div id="page-wrap" class="f_list">
                <table id="tblPopupCounterparties"></table>
            </div>
        </div>
        <div id="loadCounterparties"></div>
        <div class="pagination-holder clearfix">
            <article id="compact-paginationRelatedCounterparties" class="margin-left-m20"></article>
        </div>
        <div class="selectFIlterItem" style="margin-bottom:15px;">
            <div id="liSelectedCounterparties">
            </div>
        </div>
    </div>
</div>
<!---manoj--->

<div id="browseContracts" style="display:none;overflow: hidden;">
    <p class="text1" style="padding: 0px 10px 10px 10px;">Select one or more existing Contract Records and relate to this Request.</p>
    <article style="width:100%; text-align:center;">
        <input id="txtSearchBoxContracts" class="f_inpt cl width80 padding_right_20px" type="text" placeholder="Type to Search" />
        <img title="Search" style="cursor: pointer; position: relative; left: -40px; top:-2px; " onclick="javascript: SearchContracts();" src="@Url.Content("~/Content/Images/search_over.png")" />
        <a href="javascript:void(0)" class="linkPickerClear" onclick="$('#txtSearchBoxContracts').val(''); SearchContracts();">Clear</a>
    </article>
    <div id="page-wrap" class="f_list" style="margin-bottom: 10px;">
        @*<table id="tblContracts"></table>*@
        <!---manoj--->
        <table>
            <thead>
                <tr>
                    <th class="width65">Related Contract Record</th>
                    <th>Type</th>
                    <th>Counterparty</th>
                    <th>Number</th>
                    <th>Status</th>
                    <th id="relatedrole" style="display:none !important"></th>
                </tr>
            </thead>
            <tbody id="tblContracts"></tbody>
        </table>
        <div id="loadProContracts"></div>
        <!---manoj--->
    </div>
    <div class="pagination-holder clearfix">
        <article id="compact-paginationContracts"></article>
    </div>
    <div style="display:none"><label id="lblselectedrelatedcontracts"></label></div>
</div>
@*//ENH487 Customer inhanc*@
<div id="dvViewProject" style="display:none;overflow-y: auto;">
    <ul class="poPup_Form_Field overflow_hidden my-profile projectpop">
        <li>
            <p><b>Project ID</b></p>
            <div id="dvProjectID">
            </div>
        </li>
        <li>
            <p><b>Project Name</b></p>
            <div id="dvProjectName">
            </div>
        </li>
        <li>
            <p><b>Description</b></p>
            <div id="dvDescription">
            </div>
        </li>
        <li>
            <p><b>Status</b></p>
            <div id="dvStatus">
            </div>
        </li>
        <li>
            <p><b>Start Date</b></p>
            <div id="dvStartDate">
            </div>
        </li>
        <li>
            <p><b>End Date</b></p>
            <div id="dvEndDate">
            </div>
        </li>
        <li>
            <p><b>Sub Account</b></p>
            <div id="dvSubAccount">
            </div>
        </li>
        <li>
            <p><b>Project Manager</b></p>
            <div id="dvProjectManager">
            </div>
        </li>
        <li>
            <p><b>Business Manager</b></p>
            <div id="dvBusinessManager">
            </div>
        </li>
        <li>
            <p><b>Customer ID</b></p>
            <div id="dvCustomerID">
            </div>
        </li>
        <li>
            <p><b>Country</b></p>
            <div id="dvCountry">
            </div>
        </li>
        <li>
            <p><b>Division</b></p>
            <div id="dvDivision">
            </div>
        </li>
        <li>
            <p><b>PracticeArea</b></p>
            <div id="dvPracticeArea">
            </div>
        </li>
    </ul>
</div>

<div id="dvViewProjectTask" style="display:none;overflow-y: auto;">
    <ul class="poPup_Form_Field overflow_hidden my-profile projectpop">
        <li>
            <p><b>Task ID</b></p>
            <div id="dvTaskID">
            </div>
        </li>
        <li>
            <p><b>Description</b></p>
            <div id="dvTaskDescription">
            </div>
        </li>
        <li>
            <p><b>Manager</b></p>
            <div id="dvManager">
            </div>
        </li>
        <li>
            <p><b>Start Date</b></p>
            <div id="dvTaskStartDate">
            </div>
        </li>
        <li>
            <p><b>End Date</b></p>
            <div id="dvTaskEndDate">

            </div>
        </li>
    </ul>
</div>
@*// ENH493 Customer inhancment*@
<div id="viewMetadataDetailDocument" style="display:none;overflow-y: auto;">
    <table id="tblMetadataDetailDocument" class="width100" cellpadding="1" cellspacing="1"></table>
</div>


<div id="loadingPage">
    <div id="loadingcontent">
        <p id="loadingspinner">
            <img src="../../Content/Images/loading.gif" />&nbsp;&nbsp;
        </p>
    </div>
</div>
@section scripts{
    @Scripts.Render("~/Scripts/jquery-priceformat.js")
    <script src="~/Scripts/chosen.jquery.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery.treetable.js" type="text/javascript"></script>
    @Scripts.Render("~/Scripts/Contract365/Pipeline_CreateRequest.js?" + DateTime.Now.GetHashCode())
    @Scripts.Render("~/Scripts/intlTelInput.js");
}